<div class="navbar-component-wrapper">
  <nav [ngClass]="{ 'sidebar-collapse': !sidebarVisible }" class="bg-faded sidebar sidebar-expand">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <div class="d-flex sidebar-top-item">
          <a [routerLink]="['/']">
            <label *ngIf="sidebarVisible" class="nav-link-text sidebar-top-item-text">
              <i class="material-icons">account_circle</i> John Planner
            </label>
          </a>
          <a (click)="toggleSidebar()">
            <i class="material-icons">menu</i>
          </a>
        </div>
      </li>
      <hr>

      <!--OVERVIEW-->
      <li [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}"  class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard']">
          <div class="d-flex sidebar-link-item">
            <i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i>
            <label *ngIf="sidebarVisible" class="nav-link-text">
              Overseer
            </label>
          </div>
        </a>
      </li>

      <!--NEW POSTS-->
      <li [routerLinkActive]="['nav-link-active']" [routerLinkActiveOptions]="{exact:true}"  class="nav-item">
        <a class="nav-link" [routerLink]="['/dashboard/posts']">
          <div class="d-flex sidebar-link-item">
            <i class="fa fa-book fa-lg" aria-hidden="true"></i>
            <label *ngIf="sidebarVisible" class="nav-link-text">
            Deployment
          </label>
          </div>
        </a>
      </li>

    </ul>
  </nav>
</div>