<div class="overseer-component-wrapper container">
  <div class="row overseer-analytics">
    <div class="col-lg-4">
      <h1>5/20</h1>
      <h3>
        <span class="text-muted">Defects repaired</span>
      </h3>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h1>{{numTechniciansDeployed}}</h1>
      <h3>
        <span class="text-muted">Technicians deployed</span>
      </h3>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <h1>27</h1>
      <h2>
        <span class="text-muted">Planes</span>
      </h2>
    </div>
    <!-- /.col-lg-4 -->
  </div>

  <br>
  <br>

  <div class="planner-task-manager-header d-flex">
    <h3>Tasks</h3>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th scope="col">Defect No.</th>
        <th scope="col">Defect</th>
        <th scope="col">Date Raised</th>
        <th scope="col">Category</th>
        <th scope="col">Priority</th>
        <th scope="col">Assigned</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let defect of defects" (click)="selectDefect(defect.id)" class="task-item" data-toggle="modal" data-target=".bd-example-modal-lg">
        <td>{{defect.id}}</td>
        <td>{{defect.header}}</td>
        <td>{{defect.dateReported}}</td>
        <td>{{defect.category}}</td>
        <td>{{defect.priority}}</td>
        <td>{{defect.techsAssigned.length}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">{{modalHeader}}</h3>
        <p>{{modalDescription}}</p>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4>ETA</h4>
          </div>
          <div class="col-md-6">
            <h4>ETD</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{modalETA}}
          </div>
          <div class="col-md-6">
            {{modalETD}}
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <h4>Date Reported</h4>
          </div>
          <div class="col-md-6">
            <h4>Category</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            {{modalDateReported}}
          </div>
          <div class="col-md-6">
            {{modalCategory}}
          </div>
        </div>
        <br>
        <h4>Spares</h4>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Part ID.</th>
              <th scope="col">Name</th>
              <th scope="col">Quantity</th>
              <th scope="col">Drawn</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let spare of modalSpares" class="task-item" data-toggle="modal" data-target=".bd-example-modal-lg">
              <td>{{spare.spare.partID}}</td>
              <td>{{spare.spare.name}}</td>
              <td>{{spare.quantity}}</td>
              <td>{{spare.drawn}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
        <br>
        <!-- <div style="text-align: center;"><h3>Manpower</h3></div> -->
        <form>
          <div class="row">
            <div class='dg-task-container dg-container-2 form-group col-md-6' [dragula]='"first-bag"'>
              <h4>Unassigned Technicians</h4>
              <div *ngFor="let utech of modalUnassignedTechs" class="dg-card">
                {{utech.user.first_name}}
              </div>
            </div>
            <div class='dg-task-container dg-container-2 form-group col-md-6' [dragula]='"first-bag"'>
              <h4>Technicians Assigned</h4>
              <div *ngFor="let atech of modalTechsAssigned" class="dg-card">
                {{atech.user.first_name}}
              </div>
            </div>
          </div>
          <button (click)="confirmAssign()" style="margin-bottom: 2em;" type="button" class="btn btn-primary" data-dismiss="modal">
            Confirm
          </button>
        </form>
      </div>
    </div>
  </div>
</div>