<div class="overseer-component-wrapper container">
  <div>
    <div class='dg-wrapper'>
      <div class='dg-container-2' [dragula]='"first-bag"'>
        <div class="dg-card">You can move these elements between these two containers</div>
        <div class="dg-card">Moving them anywhere else isn't quite possible</div>
        <div class="dg-card">There's also the possibility of moving elements around in the same container, changing their position</div>
      </div>
      <div class='dg-task-container dg-container-2' [dragula]='"first-bag"'>
        <div class="dg-card">This is the default use case. You only need to specify the containers you want to use</div>
        <div class="dg-card">More interactive use cases lie ahead</div>
        <div class="dg-card">Make sure to check out the
          <a href='https://github.com/bevacqua/dragula#readme'>documentation on GitHub!</a>
        </div>
      </div>
    </div>
  </div>
</div>