.overseer-component-wrapper {
  .planner-task-manager-header {
    justify-content: space-between;
    margin-bottom: 0.5em;
  }

  .dg-wrapper {
    display: flex;
  }

  .dg-card {
    transition: opacity 0.4s ease-in-out;
  }

  .dg-wrapper > div {
    padding: 1em 1em;
  }

  .dg-container-2 {
    width: 45%;
    border: 1px solid #333;
  }

  .dg-task-container {
    background-color: #eeeeee;
  }

  .task-item {
    cursor: pointer;
  }
}