.login-component-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url('http://www.todayonline.com/sites/default/files/styles/photo_gallery_image_lightbox/public/22493399.JPG?itok=eMJDsC_m');
  background-size: cover;
  opacity: 0.8;

  .login-container {
    padding: 1em;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.7);

    .btn-container {
      display: flex;
      justify-content: center;
    }

  }
}
