<div class="login-component-wrapper">
  <div class="login-container">
    <mat-form-field>
      <input [(ngModel)]="username" matInput placeholder="Username">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input [(ngModel)]="password" matInput placeholder="Password" type="password">
    </mat-form-field>
    <br>

    <div class="btn-container">
      <button (click)="submitForm()" type="button" class="btn btn-outline-primary btn-sm btn-block">Login</button>
    </div>
  </div>
</div>
