<div>
  <table class="table table-striped">
    <thead class="thead-inverse">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Location</th>
        <th scope="col">Jobs Completed</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tech of technicians" class="task-item">
        <td>{{tech.user.id}}</td>
        <td>{{tech.user.first_name}}</td>
        <td>{{tech.user.last_name}}</td>
        <td>{{getRandLocation()}}</td>
        <td>{{getRandNum()}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <button type="button" class="btn btn-primary">Add Technician</button>
</div>